<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <p>時間を選べ</p>
      
      <select v-model="selected">
        <option disabled value="">Select time</option>
        <option v-for="item in items" :value="item.start_time_id">{{ item.start_time_label }}</option>
      </select>
      <button @click="pushReservation">送信</button>
      <p>massage: {{ message }}</p>
      <p>selected: {{ selected }}</p>
      <p>debug message: {{ debug }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
      const endPoint = 'https://waiting-reservation-api.herokuapp.com/'
     new Vue({
       el: "#app",
       data () {
         return {
           message: 'init',
           items: [],
           selected: '',
           debug: 'debug message here: '
         }
       },
       methods: {
         pushReservation () {
          liff
            .init({
              liffId: '1653882061-9EnNoj6O'
            })
            .then(() => {
              this.message += ' then'
              let context = liff.getContext();
              // this.message += ' ' + context.userId
              
              let userId = context.userId
              let selected = this.selected
              this.debug += 'selected: ' + selected + 'user: ' + userId
              if (selected){
                this.debug += ' post:' + selected
                let url = endPoint + 'reservationSlot/' + selected
                this.debug += ' '+url+' userId: '+userId
                return axios.post(url, {
                  'userId': userId
                })
              } else {
                throw new Error()
              }
            }).then(response => {
              this.debug += response 
            })
            .catch((error) => {
              console.error(error)
              this.debug += ' '+ error
            })
          }
          // }).getProfile()
          //   .then(profile => {
          //     const name = profile.displayName;
          //     console.log('test')
          //   })
          //   .catch((err) => {
          //     console.log('error', err);
          //     this.message = 'error'
          //   })
          //   .then(() => {this.message = name})
          //   .catch(() => {this.message = 'error'});
          // }
       },
       mounted () {
         axios
           .get(endPoint + 'reservationSlot/?format=json')
           .then(response => {
             this.items = response.data
             .filter(element => element.remaining > 0)
             .map(element => {
               let d_ = moment(element.start_time);
               element.start_time_id = d_.format("YYYYMMDDHHmm")
               element.start_time_label =d_.format("M月DD日 HH:mm")
               return element
               })
            })
       }
     })
   </script>
  </body>
</html>